<div class="flex-row flex-center top">
  <h1 class="app-title">Shopping List</h1>
  <app-theme-switcher></app-theme-switcher>
</div>

<div class="section">
  <h2 class="section-header">List <i class="fa-solid fa-list"></i></h2>
  <div class="list-container">
    <ul class="shopping-list" *ngIf="sortedItems.length > 0">
      <li *ngFor="let item of sortedItems" draggable="true" class="list-item">
        <button
          class="mark-done-bttn"
          (click)="item.key && markAsPurchased(item.key)"
        >
          <i class="fa-solid fa-check"></i>
        </button>
        <span class="item-name">Get "<b>{{ item.itemName }}</b>", </span>
        <span *ngIf="item.storeName">from <b>{{ item.storeName }}</b></span>
        <span *ngIf="!item.storeName">from <b>wherever...</b></span>
      </li>
    </ul>

    <div *ngIf="sortedItems.length === 0">
        <h2 class="empty-list">Your list is empty!</h2>
    </div>

    <div class="add-list flex-row flex-center flex-g-1 flex-wrap">
      <input
        type="text"
        [(ngModel)]="itemToAdd.itemName"
        placeholder="Add Item"
        (keyup.enter)="addItem()"
      />
      <input
        type="text"
        [(ngModel)]="itemToAdd.storeName"
        placeholder="From {store}"
        (keyup.enter)="addItem()"
      />
      <button class="add-item-bttn" (click)="addItem()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div class="section">
  <h2 class="section-header">Done <i class="fa-solid fa-list-check"></i></h2>
  <div class="list-container">
    <ul class="shopping-list-done" *ngIf="completedItems.length > 0">
      <li
        *ngFor="let item of completedItems"
        draggable="false"
        class="list-item list-item-done"
      >
        <button
          class="mark-not-done-bttn"
          (click)="item.key && unmarkAsPurchased(item.key)"
        >
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <span class="item-name">You got "<b>{{ item.itemName }}</b>" -</span>
        <span> from <b>{{ item.storeName }}</b></span>
      </li>
    </ul>

    <div *ngIf="completedItems.length === 0">
        <h2 class="empty-list">You haven't marked anything as done yet!</h2>
    </div>

    <div *ngIf="completedItems.length > 0" class="w-100 flex-row flex-center mt-2">
        <button class="clear-done-bttn" (click)="clearCompletedItems()">
            Clear All Done <i class="fa-solid fa-trash"></i>
        </button>
    </div>

  </div>
</div>
