<div class="flex-row flex-center top">
  <h1 class="app-title">Shopping List</h1>
  <app-theme-switcher></app-theme-switcher>
</div>

<div class="section">
  <div class="section-header flex-row flex-between">
    <h2>List <i class="fa-solid fa-list"></i></h2>
    <select
      [(ngModel)]="filterByStoreSelection"
      (ngModelChange)="onFilterChange()"
    >
      <option value="all">Sort By Store</option>
      <option value="">Wherever</option>
      <option value="Target">Target</option>
      <option value="Jewel">Jewel</option>
      <option value="Walmart">Walmart</option>
      <option value="Costco">Costco</option>
      <option value="Aldi">Aldi</option>
      <option value="Sams Club">Sams Club</option>
      <option value="Trader Joes">Trader Joes</option>
    </select>
  </div>
  <div class="list-container">
    <ul class="shopping-list" *ngIf="sortedItems.length > 0">
      <li *ngFor="let item of sortedItems" draggable="true" class="list-item">
        <button
          class="mark-done-bttn"
          (click)="item.key && markAsPurchased(item.key)"
        >
          <i class="fa-solid fa-check"></i>
        </button>
        <p>
          <b>{{ item.itemName }}</b
          ><span *ngIf="item.storeName">
            ( <b>{{ item.storeName }}</b> )
          </span>
          <span *ngIf="!item.storeName"><b> ( wherever )</b></span>
        </p>
      </li>
    </ul>

    <div *ngIf="sortedItems.length === 0">
      <h2 class="empty-list">Your list is empty!</h2>
    </div>

    <div class="add-list flex-row flex-center flex-g-1 flex-wrap">
      <input
        #firstInput
        type="text"
        [(ngModel)]="itemToAdd.itemName"
        placeholder="Add Item"
        (keyup.enter)="addItem()"
        tabindex="1"
      />
      <input
        type="text"
        [(ngModel)]="itemToAdd.storeName"
        placeholder="Store Name (optional)"
        (keyup.enter)="addItem()"
        tabindex="2"
      />
      <button class="add-item-bttn" (click)="addItem()" tabindex="3">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <h2>Done <i class="fa-solid fa-list-check"></i></h2>
  </div>
  <div class="list-container">
    <ul class="shopping-list-done" *ngIf="completedItems.length > 0">
      <li
        *ngFor="let item of completedItems"
        draggable="false"
        class="list-item list-item-done"
      >
        <button
          class="mark-not-done-bttn"
          (click)="item.key && unmarkAsPurchased(item.key)"
        >
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <p>
          <span class="item-name"
            >DONE: <b>{{ item.itemName }}</b> -</span
          >
          <span>
            from
            <b>{{ item.storeName ? item.storeName : "somewhere!" }}</b></span
          >
        </p>
      </li>
    </ul>

    <div *ngIf="completedItems.length === 0">
      <h2 class="empty-list">You haven't marked anything as done yet!</h2>
    </div>

    <div
      *ngIf="completedItems.length > 0"
      class="w-100 flex-row flex-center mt-2"
    >
      <button class="clear-done-bttn" (click)="clearCompletedItems()">
        Clear All Done <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="footer">
  <div class="warning-message" *ngIf="warningIsLive">
    <i class="fa-solid fa-exclamation-triangle"></i>
    <p class="text-center">
      This store is not on the known store list!<br />
      (It will still be added).
    </p>
  </div>
  <p>
    Made with <i class="fa-solid fa-heart"></i> by
    <a href="https://logan-murray.dev">Logan Murray</a>
  </p>
</div>
